# Ignore system files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp
*.swp

# Ignore environment variables
.env

# pdf files
*.pdf

# Node dependencies
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Build files
dist/
.next/
out/